/* tt (Tshivhula Tshilidzi) a very responsive CSS*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.tt-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.tt-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.tt-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.tt-table,.tt-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.tt-table-all{border:1px solid #ccc}
.tt-bordered tr,.tt-table-all tr{border-bottom:1px solid #ddd}.tt-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.tt-table-all tr:nth-child(odd){background-color:#fff}.tt-table-all tr:nth-child(even){background-color:#f1f1f1}
.tt-hoverable tbody tr:hover,.tt-ul.tt-hoverable li:hover{background-color:#ccc}.tt-centered tr th,.tt-centered tr td{text-align:center}
.tt-table td,.tt-table th,.tt-table-all td,.tt-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.tt-table th:first-child,.tt-table td:first-child,.tt-table-all th:first-child,.tt-table-all td:first-child{padding-left:16px}
.tt-btn,.tt-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.tt-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.tt-btn,.tt-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.tt-disabled,.tt-btn:disabled,.tt-button:disabled{cursor:not-allowed;opacity:0.3}.tt-disabled *,:disabled *{pointer-events:none}
.tt-btn.tt-disabled:hover,.tt-btn:disabled:hover{box-shadow:none}
.tt-badge,.tt-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.tt-badge{border-radius:50%}
.tt-ul{list-style-type:none;padding:0;margin:0}.tt-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.tt-ul li:last-child{border-bottom:none}
.tt-tooltip,.tt-display-container{position:relative}.tt-tooltip .tt-text{display:none}.tt-tooltip:hover .tt-text{display:inline-block}
.tt-ripple:active{opacity:0.5}.tt-ripple{transition:opacity 0s}
.tt-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.tt-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.tt-dropdown-click,.tt-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.tt-dropdown-hover:hover .tt-dropdown-content{display:block;z-index:1}
.tt-dropdown-hover:first-child,.tt-dropdown-click:hover{background-color:#ccc;color:#000}
.tt-dropdown-hover:hover > .tt-button:first-child,.tt-dropdown-click:hover > .tt-button:first-child{background-color:#ccc;color:#000}
.tt-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.tt-check,.tt-radio{width:24px;height:24px;position:relative;top:6px}
.tt-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.tt-bar-block .tt-dropdown-hover,.tt-bar-block .tt-dropdown-click{width:100%}
.tt-bar-block .tt-dropdown-hover .tt-dropdown-content,.tt-bar-block .tt-dropdown-click .tt-dropdown-content{min-width:100%}
.tt-bar-block .tt-dropdown-hover .tt-button,.tt-bar-block .tt-dropdown-click .tt-button{width:100%;text-align:left;padding:8px 16px}
.tt-main,#main{transition:margin-left .4s}
.tt-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.tt-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.tt-bar{width:100%;overflow:hidden}.tt-center .tt-bar{display:inline-block;width:auto}
.tt-bar .tt-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.tt-bar .tt-dropdown-hover,.tt-bar .tt-dropdown-click{position:static;float:left}
.tt-bar .tt-button{white-space:normal}
.tt-bar-block .tt-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal}
.tt-bar-block.tt-center .tt-bar-item{text-align:center}.tt-block{display:block;width:100%}
.tt-responsive{overflow-x:auto}
.tt-container:after,.tt-container:before,.tt-panel:after,.tt-panel:before,.tt-row:after,.tt-row:before,.tt-row-padding:after,.tt-row-padding:before,
.tt-cell-row:before,.tt-cell-row:after,.tt-clear:after,.tt-clear:before,.tt-bar:before,.tt-bar:after{content:"";display:table;clear:both}
.tt-col,.tt-half,.tt-third,.tt-twothird,.tt-threequarter,.tt-quarter{float:left;width:100%}
.tt-col.s1{width:8.33333%}.tt-col.s2{width:16.66666%}.tt-col.s3{width:24.99999%}.tt-col.s4{width:33.33333%}
.tt-col.s5{width:41.66666%}.tt-col.s6{width:49.99999%}.tt-col.s7{width:58.33333%}.tt-col.s8{width:66.66666%}
.tt-col.s9{width:74.99999%}.tt-col.s10{width:83.33333%}.tt-col.s11{width:91.66666%}.tt-col.s12{width:99.99999%}
@media (min-width:601px){.tt-col.m1{width:8.33333%}.tt-col.m2{width:16.66666%}.tt-col.s3,.tt-quarter{width:24.99999%}.tt-col.m4,.tt-third{width:33.33333%}
.tt-col.m5{width:41.66666%}.tt-col.m6,.tt-half{width:49.99999%}.tt-col.m7{width:58.33333%}.tt-col.m8,.tt-twothird{width:66.66666%}
.tt-col.m9,.tt-threequarter{width:74.99999%}.tt-col.m10{width:83.33333%}.tt-col.m11{width:91.66666%}.tt-col.m12{width:99.99999%}}
@media (min-width:993px){.tt-col.l1{width:8.33333%}.tt-col.l2{width:16.66666%}.tt-col.l3{width:24.99999%}.tt-col.l4{width:33.33333%}
.tt-col.l5{width:41.66666%}.tt-col.l6{width:49.99999%}.tt-col.l7{width:58.33333%}.tt-col.l8{width:66.66666%}
.tt-col.l9{width:74.99999%}.tt-col.l10{width:83.33333%}.tt-col.l11{width:91.66666%}.tt-col.l12{width:99.99999%}}
.tt-content{max-width:980px;margin:auto}.tt-rest{overflow:hidden}
.tt-cell-row{display:table;width:100%}.tt-cell{display:table-cell}
.tt-cell-top{vertical-align:top}.tt-cell-middle{vertical-align:middle}.tt-cell-bottom{vertical-align:bottom}
.tt-hide{display:none!important}.tt-show-block,.tt-show{display:block!important}.tt-show-inline-block{display:inline-block!important}
@media (max-width:600px){.tt-modal-content{margin:0 10px;width:auto!important}.tt-modal{padding-top:30px}
.tt-dropdown-hover.tt-mobile .tt-dropdown-content,.tt-dropdown-click.tt-mobile .tt-dropdown-content{position:relative}	
.tt-hide-small{display:none!important}.tt-mobile{display:block;width:100%!important}.tt-bar-item.tt-mobile,.tt-dropdown-hover.tt-mobile,.tt-dropdown-click.tt-mobile{text-align:center}
.tt-dropdown-hover.tt-mobile,.tt-dropdown-hover.tt-mobile .tt-btn,.tt-dropdown-hover.tt-mobile .tt-button,.tt-dropdown-click.tt-mobile,.tt-dropdown-click.tt-mobile .tt-btn,.tt-dropdown-click.tt-mobile .tt-button{width:100%}}
@media (max-width:768px){.tt-modal-content{width:500px}.tt-modal{padding-top:50px}}
@media (min-width:993px){.tt-modal-content{width:900px}.tt-hide-large{display:none!important}.tt-sidebar.tt-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.tt-hide-medium{display:none!important}}
@media (max-width:992px){.tt-sidebar.tt-collapse{display:none}.tt-main{margin-left:0!important;margin-right:0!important}}
.tt-top,.tt-bottom{position:fixed;width:100%;z-index:1}.tt-top{top:0}.tt-bottom{bottom:0}
.tt-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.tt-display-topleft{position:absolute;left:0;top:0}.tt-display-topright{position:absolute;right:0;top:0}
.tt-display-bottomleft{position:absolute;left:0;bottom:0}.tt-display-bottomright{position:absolute;right:0;bottom:0}
.tt-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.tt-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.tt-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.tt-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tt-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.tt-display-container:hover .tt-display-hover{display:block}.tt-display-container:hover span.tt-display-hover{display:inline-block}.tt-display-hover{display:none}
.tt-display-position{position:absolute}
.tt-circle{border-radius:50%}
.tt-round-small{border-radius:2px}.tt-round,.tt-round-medium{border-radius:4px}.tt-round-large{border-radius:8px}.tt-round-xlarge{border-radius:16px}.tt-round-xxlarge{border-radius:32px}
.tt-row-padding,.tt-row-padding>.tt-half,.tt-row-padding>.tt-third,.tt-row-padding>.tt-twothird,.tt-row-padding>.tt-threequarter,.tt-row-padding>.tt-quarter,.tt-row-padding>.tt-col{padding:0 8px}
.tt-container,.tt-panel{padding:0.01em 16px}.tt-panel{margin-top:16px;margin-bottom:16px}
.tt-code,.tt-codespan{font-family:Consolas,"courier new";font-size:16px}
.tt-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #2196f3;word-wrap:break-word}
.tt-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.tt-card,.tt-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.tt-card-4,.tt-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.tt-spin{animation:tt-spin 2s infinite linear}@keyframes tt-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.tt-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.tt-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.tt-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.tt-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.tt-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.tt-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.tt-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.tt-animate-input{transition:width 0.4s ease-in-out}.tt-animate-input:focus{width:100%!important}
.tt-opacity,.tt-hover-opacity:hover{opacity:0.60}.tt-opacity-off,.tt-hover-opacity-off:hover{opacity:1}
.tt-opacity-max{opacity:0.25}.tt-opacity-min{opacity:0.75}
.tt-greyscale-max,.tt-grayscale-max,.tt-hover-greyscale:hover,.tt-hover-grayscale:hover{filter:grayscale(100%)}
.tt-greyscale,.tt-grayscale{filter:grayscale(75%)}.tt-greyscale-min,.tt-grayscale-min{filter:grayscale(50%)}
.tt-sepia{filter:sepia(75%)}.tt-sepia-max,.tt-hover-sepia:hover{filter:sepia(100%)}.tt-sepia-min{filter:sepia(50%)}
.tt-tiny{font-size:10px!important}.tt-small{font-size:12px!important}.tt-medium{font-size:15px!important}.tt-large{font-size:18px!important}
.tt-xlarge{font-size:24px!important}.tt-xxlarge{font-size:36px!important}.tt-xxxlarge{font-size:48px!important}.tt-jumbo{font-size:64px!important}
.tt-left-align{text-align:left!important}.tt-right-align{text-align:right!important}.tt-justify{text-align:justify!important}.tt-center{text-align:center!important}
.tt-border-0{border:0!important}.tt-border{border:1px solid #ccc!important}
.tt-border-top{border-top:1px solid #ccc!important}.tt-border-bottom{border-bottom:1px solid #ccc!important}
.tt-border-left{border-left:1px solid #ccc!important}.tt-border-right{border-right:1px solid #ccc!important}
.tt-topbar{border-top:6px solid #ccc!important}.tt-bottombar{border-bottom:6px solid #ccc!important}
.tt-leftbar{border-left:6px solid #ccc!important}.tt-rightbar{border-right:6px solid #ccc!important}
.tt-section,.tt-code{margin-top:16px!important;margin-bottom:16px!important}
.tt-margin{margin:16px!important}.tt-margin-top{margin-top:16px!important}.tt-margin-bottom{margin-bottom:16px!important}
.tt-margin-left{margin-left:16px!important}.tt-margin-right{margin-right:16px!important}
.tt-padding-small{padding:4px 8px!important}.tt-padding{padding:8px 16px!important}.tt-padding-large{padding:12px 24px!important}
.tt-padding-16{padding-top:16px!important;padding-bottom:16px!important}.tt-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.tt-padding-32{padding-top:32px!important;padding-bottom:32px!important}.tt-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.tt-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.tt-left{float:left!important}.tt-right{float:right!important}
.tt-button:hover{color:#000!important;background-color:#ccc!important}
.tt-transparent,.tt-hover-none:hover{background-color:transparent!important}
.tt-hover-none:hover{box-shadow:none!important}
/* Colors */
.tt-amber,.tt-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.tt-aqua,.tt-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.tt-blue,.tt-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.tt-light-blue,.tt-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.tt-brown,.tt-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.tt-cyan,.tt-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.tt-blue-grey,.tt-hover-blue-grey:hover,.tt-blue-gray,.tt-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.tt-green,.tt-hover-green:hover{color:#fff!important;background-color: #2196f3 !important}
.tt-light-green,.tt-hover-light-green:hover{color:#000!important;background-color: #2196f3 !important}
.tt-indigo,.tt-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.tt-khaki,.tt-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.tt-lime,.tt-hover-lime:hover{color:#000!important;background-color: #2196f3 !important}
.tt-orange,.tt-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.tt-deep-orange,.tt-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.tt-pink,.tt-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.tt-purple,.tt-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.tt-deep-purple,.tt-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.tt-red,.tt-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.tt-sand,.tt-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.tt-teal,.tt-hover-teal:hover{color:#fff!important;background-color: #2196f3 !important}
.tt-yellow,.tt-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.tt-white,.tt-hover-white:hover{color:#000!important;background-color:#fff!important}
.tt-black,.tt-hover-black:hover{color:#fff!important;background-color:#000!important}
.tt-grey,.tt-hover-grey:hover,.tt-gray,.tt-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.tt-light-grey,.tt-hover-light-grey:hover,.tt-light-gray,.tt-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.tt-dark-grey,.tt-hover-dark-grey:hover,.tt-dark-gray,.tt-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.tt-pale-red,.tt-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.tt-pale-green,.tt-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.tt-pale-yellow,.tt-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.tt-pale-blue,.tt-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.tt-text-red,.tt-hover-text-red:hover{color:#f44336!important}
.tt-text-green,.tt-hover-text-green:hover{color: #2196f3 !important}
.tt-text-blue,.tt-hover-text-blue:hover{color:#2196F3!important}
.tt-text-yellow,.tt-hover-text-yellow:hover{color:#ffeb3b!important}
.tt-text-white,.tt-hover-text-white:hover{color:#fff!important}
.tt-text-black,.tt-hover-text-black:hover{color:#000!important}
.tt-text-grey,.tt-hover-text-grey:hover,.tt-text-gray,.tt-hover-text-gray:hover{color:#757575!important}
.tt-text-amber{color:#ffc107!important}
.tt-text-aqua{color:#00ffff!important}
.tt-text-light-blue{color:#87CEEB!important}
.tt-text-brown{color:#795548!important}
.tt-text-cyan{color:#00bcd4!important}
.tt-text-blue-grey,.tt-text-blue-gray{color:#607d8b!important}
.tt-text-light-green{color: #2196f3 !important}
.tt-text-indigo{color:#3f51b5!important}
.tt-text-khaki{color:#b4aa50!important}
.tt-text-lime{color:#cddc39!important}
.tt-text-orange{color:#ff9800!important}
.tt-text-deep-orange{color:#ff5722!important}
.tt-text-pink{color:#e91e63!important}
.tt-text-purple{color:#9c27b0!important}
.tt-text-deep-purple{color:#673ab7!important}
.tt-text-sand{color:#fdf5e6!important}
.tt-text-teal{color: #2196f3 !important}
.tt-text-light-grey,.tt-hover-text-light-grey:hover,.tt-text-light-gray,.tt-hover-text-light-gray:hover{color:#f1f1f1!important}
.tt-text-dark-grey,.tt-hover-text-dark-grey:hover,.tt-text-dark-gray,.tt-hover-text-dark-gray:hover{color:#3a3a3a!important}
.tt-border-red,.tt-hover-border-red:hover{border-color:#f44336!important}
.tt-border-green,.tt-hover-border-green:hover{border-color: #2196f3 !important}
.tt-border-blue,.tt-hover-border-blue:hover{border-color:#2196F3!important}
.tt-border-yellow,.tt-hover-border-yellow:hover{border-color:#ffeb3b!important}
.tt-border-white,.tt-hover-border-white:hover{border-color:#fff!important}
.tt-border-black,.tt-hover-border-black:hover{border-color:#000!important}
.tt-border-grey,.tt-hover-border-grey:hover,.tt-border-gray,.tt-hover-border-gray:hover{border-color:#bbb!important}
